.contactContainer {
  text-align: center;
  background-color: #3f51b5;
  height:300px;
}
.contact {
  font-family: "Karla", sans-serif;
  text-align: center;
  color: white;
}

.envelope {
  color: #fff6da;
}
