.aboutContainer {
  text-align: center;
  background-color: #21aa93;
  margin-top: -35px;
  padding: 30px;
}
#background {
  background-color: #21aa93;
  height: 700px;
}
.about {
  font-family: "Karla", sans-serif;
}
.aboutMe {
  font-family: "Noto", serif;
  text-align: center;
}
#title {
  text-align: center;
  font-family: "Noto", serif;
}
#icon {
  color: black;
}
#icon2 {
  color: black;
  font-size: 40px;
}
